@import url("assets/styles/buttons.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #fff;
  --clr-neon: #ff14bd;
  --pink-neon-0: rgba(255, 20, 189, 1);
  --pink-neon-1: rgba(255, 20, 189, 0.3);
  --pink-neon-2: rgba(255, 20, 189, 0.3);
  --pink-neon-3: rgba(255, 20, 189, 0.3);
  --red-neon: #f7302e;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-neon-purple-dark text-white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

section#hero {
  background-image: url("./assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 480px) {
  section#hero {
    background-image: url("./assets/images/background-mob.png");
  }
}

.hero-image:hover {
  animation: intermittente 0.01s infinite alternate;
  box-shadow:
    0px 0px 35px var(red-neon-1),
    0 0 11px var(-pink-neon-1),
    0 0 2px var(-pink-neon-2),
    0 0 1px var(-pink-neon-3),
    0 0px 17px var(-pink-neon-1),
    inset 0px 0 17px var(-pink-neon-3),
    inset 0px 0 30px var(-pink-neon-3);
}

/* ANIMATIONS */
@keyframes intermittente {
  75% {
    opacity: 0.7;
  }
}

.text-white-glow {
  color: var(--foreground-rgb);
  text-shadow:
    0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em currentColor;
}

.text-neon-pink-glow {
  color: var(--clr-neon);
  text-shadow:
    0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em currentColor;
}

.slick-dots li.slick-active button:before {
  color: var(--clr-neon) !important;
}

.slick-dots li button:before {
  color: var(--foreground-rgb) !important;
}

.slick-arrow {
  color: var(--foreground-rgb) !important;
  height: 24px !important;
  width: 24px !important;
}
