@import url("assets/styles/buttons.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #fff;
  --clr-neon: #ff14bd;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-neon-purple-dark text-white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

section#hero {
  background-image: url("./assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.text-white-glow {
  color: var(--foreground-rgb);
  text-shadow:
    0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em currentColor;
}

.text-neon-pink-glow {
  color: var(--clr-neon);
  text-shadow:
    0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em currentColor;
}

.slick-dots li.slick-active button:before {
  color: var(--clr-neon) !important;
}

.slick-dots li button:before {
  color: var(--foreground-rgb) !important;
}

.slick-arrow {
  color: var(--foreground-rgb) !important;
  height: 24px !important;
  width: 24px !important;
}
